@model ApplicationCore.Models.MovieDetailResponseModel


    <div class="container-fluid bg-dark">
        <div class="row">
        
            <div class="col-4 ">
                <img src=@Model.PosterUrl />
            </div>
            <div class="col-4">
               
                        <h1 class="text-white">
                            @Model.Title
                        </h1>
                        <small class="text-muted">@Model.Tagline</small>
                   
              
                <div class="row">
                    <div class="col-4 text-secondary">
                        @Model.RunTime m | @Model.ReleaseDate.Value.Date.Year
                    </div>
                    <div class="col-6">
                        @foreach (var genre in Model.Genres)
                        {
                        <span class="badge badge-primary">@genre.Name</span>
                        }
                    </div>
                    <div>
                        <h3>
                            <span class="badge badge-warning">
                                @Model.Rating
                            </span>
                        </h3>
                    </div>  
                    <div class="row">
                        <div class="col-12 text-light ">
                            @Model.Overview
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-3">
                <ul class="list-group"> 
                    <li class="list-group-item">
                        <button type="button" class="btn btn-secondary">REVIEW</button>
                    </li>
                    <li class="list-group-item">
                        <button type="button" class="btn btn-secondary">TRAILER</button>
                    </li>

                    <li class="list-group-item">
                        <button type="button" class="btn btn-light">BUY @Model.Price</button><br />

                        <button type="button" class="btn btn-light">WATCH MOVIE</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-light">

        <div class="row">
           
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        MOVIE FACTS
                    </div>
                    <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active">Release Date <span class="badge badge-pill badge-dark">@Model.ReleaseDate</span></a>
                        <a class="list-group-item list-group-item-action">Run Time <span class="badge badge-pill badge-dark">@Model.RunTime</span></a>
                        <a class="list-group-item list-group-item-action">Box Office <span class="badge badge-pill badge-dark">@Model.RunTime</span></a>
                        <a class="list-group-item list-group-item-action">Budget <span class="badge badge-pill badge-dark">@Model.Budget</span></a>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="card">
                    <div class="card-header">
                        CAST
                    </div>
                    @foreach (var cast in Model.Casts)
                    {
                        <div class="list-group" id="list-tab" role="tablist">
                            <ul>
                                <li class="list-group-item list-group-item-action">
                                    <a asp-controller="Cast" asp-action="Details" asp-route-id="@cast.Id">
                                        <img src="@cast.ProfilePath" class="img-fluid" alt="@cast.Name" />
                                    </a>
                                </li>
                                <li class="list-group-item list-group-item-action">@cast.Name</li>
                                <li class="list-group-item list-group-item-action">@cast.Character</li>
                            </ul>
                           
                        </div>
                    }

                </div>
            </div>
            </div>
        </div>

